@font-face{
  font-family: Qatar;
  src: url(../public/fonts/Qatar2022/Qatar2022Arabic-Bold.ttf);
}

@font-face{
  font-family: QatarBold;
  src: url(../public/fonts/Qatar2022/Qatar2022Arabic-Heavy.ttf);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Qatar, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: Qatar;
}

input {
  font-family: Qatar;
}

footer {
  height: 40vh;
  width: 100%;
  background: #8a1538;
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 0;
  position: absolute;
}

/* 
body::-webkit-scrollbar{
  width: 17.5px;          
}

body::-webkit-scrollbar-track{
  background: #eee; 
}

body::-webkit-scrollbar-thumb{
  background: #bbb;
} */