  /* --bordo: #8a1538;
  --arena: #eeeee4;
  --verde: #00c6ae; */

  @font-face {
    font-family: Qatar;
    src: url(../public/fonts/Qatar2022/Qatar2022Arabic-Bold.ttf);
  }

  @font-face {
    font-family: QatarBold;
    src: url(../public/fonts/Qatar2022/Qatar2022Arabic-Heavy.ttf);
  }


  .container {
    padding: 0;
    margin: 0;
  }

  /*----- INDEX -----*/

  .logo {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .messi {
    height: 100%;
    width: 30%;
    background: url(../public/img/messi.jpg);
    background-size: cover;
    position: absolute;
    left: 0;
  }

  .entry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #eeeee4;
    background-size: cover;
    color: #8a1538;
    font-size: 50px;
    height: 100vh;
    width: 100%;
  }

  .entry h1 {
    margin-bottom: 20px;
    font-family: QatarBold;
    color: #8a1538;
    text-align: center;
  }

  .button {
    padding: 9px 10px;
    border: 0;
    font-size: 15px;
    clip-path: polygon(18% 25%, 82% 25%, 100% 50%, 82% 75%, 18% 75%, 0% 50%);
    background: #8a1538;
    padding: 35px 30px;
    color: #eeeee4;
    transition: .3s;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .button:hover {
    scale: 1.05;
  }

  .timer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timer div {
    margin: 0px 16px;
  }

  .timer div h4 {
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: -25px;
    font-family: QatarBold;
  }

  .timer div p {
    font-size: 12px;
    text-align: center;
  }

  .info {
    font-size: 13px;
    width: 45%;
    border: 1px solid #8a1538;
    padding: 10px 1px 10px 13px;
    margin-top: 20px;
    line-height: 21px;
  }

  .info p {
    margin: 0;
  }

  /*---- HOME ----*/

  .header {
    background: transparent;
    z-index: 100;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #eeeee4;
    position: fixed;
    transition: .6s;
    border-bottom: 1px solid #eeeee4;
  }

  .header div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .header .logo1 {
    height: 50px;
    width: 110px;
    background: url(../public/img/logo2.jpg);
    background-size: cover;
    transition: .6s;
  }

  .header div div {
    display: flex;
  }

  .header div div img {
    height: 53px;
    border-radius: 50%;
    outline: 2px solid #d4c164;
    margin: 0 10px 0 0;
  }

  .header div div button {
    margin: 0;
    font-size: 14px;
    cursor: auto;
    background: #eeeee4;
    color: #8a1538;
  }

  .header div h4 {
    margin-left: 20px;
    font-size: 16px;
  }

  .header div a {
    margin: 0 10px;
    color: #8a1538;
    cursor: pointer;
    transition: .4s;
  }

  .header div a:hover {
    scale: 1.05;
  }

  .header button {
    padding: 9px 10px;
    border: 0;
    font-size: 14px;
    clip-path: polygon(15% 25%, 85% 25%, 100% 50%, 85% 75%, 15% 75%, 0% 50%);
    background: #8a1538;
    padding: 30px 20px;
    margin: 0 10px;
    color: #eeeee4;
    transition: .3s;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .header button:hover {
    scale: 1.05;
  }

  /*---- SCROLL ----*/

  .header2 {
    z-index: 100;
    background: #eeeee4;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #8a1538;
    position: fixed;
    transition: .6s;
    border-bottom: 1px solid #8a1538;
  }

  .header2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .header2 div div {
    display: flex;
  }

  .header2 div div img {
    height: 53px;
    border-radius: 50%;
    outline: 2px solid #8a1538;
    margin: 0 10px 0 0;
  }

  .header2 div div button {
    margin: 0;
    cursor: auto;
    font-size: 14px;
    background: #d4c164;
    color: #8a1538;
  }

  .header2 .logo1 {
    height: 53px;
    width: 110px;
    background: url(../public/img/logo.jpg);
    background-size: cover;
    transition: .6s;
  }

  .header2 div h4 {
    margin-left: 20px;
    font-size: 16px;
  }

  .header2 div a {
    margin: 0 10px;
    cursor: pointer;
    transition: .4s;
  }

  .header2 div a:hover {
    color: #00c6ae;
    scale: 1.05;
  }

  .header2 button {
    padding: 9px 10px;
    border: 0;
    font-size: 14px;
    clip-path: polygon(15% 25%, 85% 25%, 100% 50%, 85% 75%, 15% 75%, 0% 50%);
    background: #8a1538;
    padding: 30px 20px;
    margin: 0 10px;
    margin-right: 10px;
    color: #eeeee4;
    transition: .3s;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .header2 button:hover {
    scale: 1.05;
  }

  .button_name button:hover {
    scale: 1;
  }

  /*---- HEADER3 ----*/

  .header3 {
    background: transparent;
    z-index: 100;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #eeeee4;
    position: fixed;
    transition: .6s;
    border-bottom: 1px solid #eeeee4;
  }

  .header3 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .header3 .logo1 {
    height: 50px;
    width: 110px;
    background: url(../public/img/logo2.jpg);
    background-size: cover;
    transition: .6s;
  }

  .header3 div div {
    display: flex;
  }

  .header3 div div img {
    height: 53px;
    border-radius: 50%;
    outline: 2px solid #d4c164;
    margin: 0 10px 0 0;
  }

  .header3 div div button {
    margin: 0;
    font-size: 14px;
    cursor: auto;
    background: #eeeee4;
    color: #8a1538;
  }

  .header3 div h4 {
    margin-left: 20px;
    font-size: 16px;
  }

  .header3 div a {
    margin: 0 10px;
    color: #eeeee4;
    cursor: pointer;
    transition: .4s;
  }

  .header3 div a:hover {
    scale: 1.05;
  }

  .header3 button {
    padding: 9px 10px;
    border: 0;
    font-size: 14px;
    clip-path: polygon(15% 25%, 85% 25%, 100% 50%, 85% 75%, 15% 75%, 0% 50%);
    background: #eeeee4;
    padding: 30px 20px;
    margin: 0 10px;
    color: #8a1538;
    transition: .3s;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .header3 button:hover {
    scale: 1.05;
  }

  /* ¿¿¿cont??? */

  .cont {
    background: #8a1538;
    height: 100vh;
    width: 100%;
    color: #eeeee4;
    margin: 0;
  }

  .cont .video video {
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .timer2 {
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .timer2 div {
    margin: 0px 16px;
  }

  .timer2 div h4 {
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: -25px;
    font-family: QatarBold;
  }

  .timer2 div p {
    font-size: 12px;
    text-align: center;
  }

  .redirect {
    position: absolute;
    right: 10%;
    top: 30%;
    text-align: center;
  }

  .redirect h1 {
    font-size: 64px;
    font-family: QatarBold;
  }

  /*---- GROUPS ----*/

  .groups {
    height: 100vh;
    width: 100%;
    background: #eeeee4;
    display: flex;
    justify-content: center;
    padding: 120px 40px 80px 60px;
    position: relative;
  }

  .groups .groups_info {
    width: 60%;
  }

  .teams {
    height: 100vh;
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.158);
    top: 0;
    left: 0;
    backdrop-filter: blur(16px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .teams_box {
    height: 85vh;
    width: 85%;
    background: #eeeee4;
    border: 1px solid #8a1538;
    display: flex;
  }

  .teams_informations {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #8a1538;
  }

  .teams_informations h4,
  .teams_informations h2 {
    margin-bottom: 6px;
  }

  .teams_informations h5 {
    margin: -22px;
    background: #8a1538;
    padding: 30px;
    color: #eeeee4;
    clip-path: polygon(10% 25%, 90% 25%, 100% 50%, 90% 75%, 10% 75%, 0% 50%);
  }

  .teams_informations h6 {
    margin: -22px;
    background: #8a1538;
    padding: 30px;
    color: #eeeee4;
    clip-path: polygon(18% 25%, 82% 25%, 100% 50%, 82% 75%, 18% 75%, 0% 50%);
    font-size: 16px;
    font-family: QatarBold;
    color: #d4c164;
  }

  .teams_informations div {
    border: 1px solid #8a1538;
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }

  .teams_informations div img {
    height: 40px;
    width: 40px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin-right: 10px;
  }

  .teams_players {
    height: 100%;
    width: 70%;
    background: #8a1538;
    color: #eeeee4;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .teams_players h4 {
    font-size: 32px;
    margin: 0;
  }

  .teams_players h5 {
    color: #8a1538;
    background: #eeeee4;
    padding: 14px;
    clip-path: polygon(8% 25%, 92% 25%, 100% 50%, 92% 75%, 8% 75%, 0% 50%);
    margin: -21px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    transition: .1s;
  }

  .teams_players h5:hover {
    scale: 1.05;
  }

  .teams_players h3 {
    color: #d4c164;
  }

  .groups h2 {
    color: #8a1538;
    font-size: 32px;
    margin-top: -40px;
  }

  .groups p {
    color: #8a1538;
  }

  /*---- MATCH -----*/

  .matches {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background: #8a1538;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .timeline {
    outline: 1px solid #d4c164;
    min-height: 160px;
    width: 320px;
  }

  .timeline p {
    margin: 0;
  }

  .timeline img {
    height: 35px;
  }

  .timeline div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timeline_calendar {
    background: #eeeee4;
    text-align: center;
    height: 32px;
    color: #8a1538;
  }

  .timeline_stadium {
    background: #00c6ae;
    height: 27px;
  }

  .timeline_match {
    background: #d4c164;
    color: #64152c;
    height: 50.5px;
    gap: 8px;
  }

  .timeline_tv {
    background: #64152c;
    color: #eeeee4;
    height: 25.5px;
  }

  .timeline_hour {
    background: #8a1538;
    color: #eeeee4;
    height: 25px;
  }

  /*---- GAME -----*/

  .game {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .game h2 {
    position: absolute;
    top: -20px;
    color: #00c6ae;
    font-size: 48px;
  }

  /*---- GRUPOS ----*/

  .game_groups {
    background: #eeeee4;
    height: 184px;
    width: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 16px;
    color: #8a1538;
    border: 1px solid #8a1538;
  }

  .game_groups div {
    display: flex;
    margin: 2px 0;
    padding: 5px 8px;
    background: #8a1538;
    border-radius: 3px;
    gap: 10px;
    align-items: center;
    color: #eeeee4;
    transition: .3s;
    cursor: pointer;
  }

  .game_groups div:hover {
    scale: 1.05;
  }

  .game_groups img {
    height: 20px;
    margin: 0;
    border: 1px solid #d4c164;
  }

  .game_groups p {
    margin: 0;
    color: #eeeee4;
    font-size: 14px;
  }

  .game_groups h4 {
    font-family: QatarBold;
    font-size: 16px;
    margin: 8px 0 2px;
  }

  .people {
    height: 80vh;
    width: 100%;
    background: url(../public/img/orange.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #eeeee4;
  }

  .people h2 {
    font-size: 48px;
  }

  .people p {
    font-size: 64px;
    color: #00c6ae;
  }

  .people img {
    height: 90%;
  }


  /*---- INFORMACION ----*/

  .informative {
    height: 100vh;
    width: 100%;
    background: #8a1538;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #eeeee4;
  }

  .informative div {
    width: 40%;
  }

  /*---- REGISTRO ----*/

  .register {
    height: 100vh;
    width: 100%;
    background: #eeeee4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .register_container {
    height: 500px;
    width: 25%;
    border: 1px solid #8a1538;
    text-align: center;
    color: #8a1538;
  }

  .register_container img {
    object-fit: cover;
    width: 100%;
    height: 33%;
    border-bottom: 1px solid #8a1538;
  }

  .register input {
    border: 0;
    border-bottom: 1px solid #8a1538;
    background: #eeeee4;
    font-size: 14px;
    padding: 10px 10px 0;
    margin-bottom: 30px;
    width: 80%;
    color: #8a1538;
  }

  .register input:focus {
    border-bottom: 1px solid #8a1538;
    outline: none;
  }

  /*---- PREDICTS ----*/

  .result {
    height: 320px;
    width: 700px;
    position: relative;
    display: flex;
    column-gap: 5px;
    margin-bottom: 10px;
  }

  .result .result_cont {
    width: 33%;
    height: 100%;
    margin-bottom: 5px;
    background: #8a1538;
    border: 1px solid #d4c164;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #eeeee4;
    font-size: 20px;
    font-family: QatarBold;
  }

  .result div .form {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .result input {
    background: #d4c164;
    border: 0;
    text-align: center;
    font-size: 16px;
    width: 30px;
    font-family: QatarBold;
  }

  .result img {
    height: 30px;
    border: 1px solid #d4c164;
    background: #d40040;
  }

  /*---- PLAYOFFS ----*/

  .playoffs {
    width: 100%;
    margin-top: 20px;
    background: #8a1538;
    height: 125vh;
    padding: 50px;
    display: flex;
    column-gap: 45px;
  }

  /*---- OCTAVOS ----*/

  .eighths,
  .quarter {
    width: 22%;
  }

  .eighths h3,
  .quarter h3,
  .semifinal h3,
  .final h3 {
    font-size: 32px;
    color: #00c6ae;
    text-align: center;
  }

  /*---- CUARTOS ----*/

  .quarter .playoffs_groups div p {
    margin: 3px 0;
    font-size: 13px;
    text-align: center;
  }

  .quarter .playoffs_groups {
    margin: 28% 0;
  }

  /*---- SEMI ----*/

  .semifinal {
    width: 23%;
  }

  .semifinal .playoffs_groups div p {
    font-size: 12px;
  }

  .semifinal .playoffs_groups {
    white-space: nowrap;
  }

  .semifinal .playoffs_groups {
    margin: 62% 0;
  }

  /*---- FINAL ----*/

  .final {
    width: 23%;
  }

  .final .playoffs_groups {
    height: 12%;
    margin: 100% 0;
  }

  .playoffs_groups {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    color: #8a1538;
    background: #eeeee4;
    border: 1px solid #8a1538;
    margin-bottom: 10px;
  }

  .playoffs_groups div p {
    margin: 0;
    text-align: center;
  }

  .playoffs_groups input {
    background: #8a1538;
    border: 0;
    text-align: center;
    font-size: 16px;
    width: 35px;
    height: 25px;
    color: #d4c164;
    font-family: QatarBold;
  }

  .playoffs_groups img {
    height: 30px;
  }

  /*---- RESPONSIVE PARA CELULAR ROTADO ----*/

  @media only screen and (max-height:500px) {

    .messi {
      opacity: 0;
    }

    .entry h1 {
      margin: 0px;
      font-family: QatarBold;
      color: #8a1538;
      text-align: center;
    }
  
    .entry .button {
      margin: -30px;
    }

    .logo {
      opacity: 0;
    }

    .info {
      margin-top: 0px;
      width: 80%;
    }

    .header,
    .header2,
    .header3 {
      height: 17vh;
    }

    .groups {
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .redirect {
      position: absolute;
      right: 5%;
      top: 10%;
      text-align: center;
    }

    .redirect h1 {
      margin-bottom: 0;
    }

    .groups div {
      translate: 0;
      height: 230px;
      width: 425px;
      background: url(../public/img/grupos.jpg);
      background-size: cover;
    }

    .people {
      height: 90vh;
      gap: 50px;
    }

    .people h2 {
      font-size: 40px;
      margin-bottom: -50px;
    }

    .people img {
      height: 85%;
      margin-right: 50px;
    }

    .register {
      height: 100vh;
    }

    .register_container {
      width: 60%;
      height: 360px;
    }

    .register_container img {
      object-fit: cover;
      width: 100%;
      height: 20%;
      border-bottom: 1px solid #8a1538;
    }

    .playoffs {
      height: 440vh;
      flex-direction: column;
      align-items: center;
    }

    .eighths,
    .quarter {
      width: 90%;
    }

    .semifinal {
      width: 95%;
    }

    .final {
      width: 99%;
    }

    .quarter .playoffs_groups,
    .semifinal .playoffs_groups,
    .final .playoffs_groups {
      margin: 2% 0;
    }

    .final .playoffs_groups {
      height: 40%;
    }

  }

  /*---- RESPONSIVE PARA CELULAR NORMAL ----*/

  @media only screen and (max-width:550px) {

    .entry {
      height: 100vh;
    }

    .messi {
      opacity: 0;
    }

    .info {
      width: 90%;
    }

    .header div a,
    .header2 div a,
    .header3 div a {
      position: absolute;
      translate: -1000px;
      opacity: 0;
      visibility: hidden;
    }

    .redirect {
      position: absolute;
      right: 5%;
      top: 10%;
      text-align: center;
    }

    .timer2 {
      left: 13%;
      bottom: 50px;
    }

    .groups {
      padding: 0;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .groups div {
      translate: 0;
      height: 190px;
      width: 350px;
      background: url(../public/img/grupos.jpg);
      background-size: cover;
    }

    .game {
      padding-top: 120px;
    }

    .game h2 {
      position: absolute;
      top: -20px;
      text-align: center;
      color: #00c6ae;
      font-size: 42px;
    }

    .people {
      flex-direction: column;
      height: 90vh;
    }

    .people img {
      margin-top: -80px;
      height: 40%;
    }

    .people h2 {
      margin-bottom: -50px;
    }

    .register {
      height: 100vh;
    }

    .register_container {
      width: 80%;
      height: 500px;
    }

    .playoffs {
      height: 190vh;
      flex-direction: column;
      align-items: center;
    }

    .result {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 395px;
    }
  
    .result .result_cont {
      width: 280px;
    }

    .eighths,
    .quarter {
      width: 90%;
    }

    .semifinal {
      width: 95%;
    }

    .final {
      width: 99%;
    }

    .quarter .playoffs_groups,
    .semifinal .playoffs_groups,
    .final .playoffs_groups {
      margin: 2% 0;
    }

    .final .playoffs_groups {
      height: 40%;
    }

  }